:root{
    --starbucks-clr:#00653d;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Alegreya Sans SC', sans-serif;
}
/* -------------------------------- menu bar --------------------------------*/
.menu-container{
    display: flex;
    margin-top: 3vh;
    margin-left:13vh;
    margin-right: 20vh;
    justify-content: space-between;
    margin-bottom: 5vh;
 
    
}


nav{
    
    display: flex;
   
    justify-content: space-evenly;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    padding: 10px;
    margin: 10px;
   
    border-radius: 75px;
    background-color: white;
    color:black;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 5rem;
    font-family: 'Alegreya Sans SC', sans-serif;

}
nav ul li:hover{
    background-color:var(--starbucks-clr);
    color: white;
    opacity: 1;
    transform:scale(1.05);

   

 
}
nav ul li:hover a {
    color: white; 
}
/*-------------------------- Typing Animation Text ------------------------------*/
.main{
    margin-top: 0vh;
}
.its, .static {
    font-size: 40px;
    text-transform: lowercase;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #323232;
    margin-top: 0;
    margin-bottom: 0; 
}
.static{
    margin-top: 11px;
}
.wrapper{
    display:flex;
}

.dynamic{

    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px;
    overflow: hidden;
    
}
.dynamic li{
    margin: 0 0 0 15px;
    color: var(--starbucks-clr);
    font-size: 48px;
    font-family: 'Kanit','Alegreya Sans SC', sans-serif;
    position: relative;
    top:0;

    animation: slide 6s steps(4) infinite;
}
.dynamic li span{
    position: relative;
    margin:0;
    padding: 0;
    
}
.dynamic li span::after{
    content: '';

    position:absolute;
    height: 100%;
    width:100%;
    background-color: white;
    left:0;
    border-left:8px solid var(--starbucks-clr);

    animation:typing 1.5s steps(16) infinite;

}@keyframes typing{
    100%{
        left:100%;
        margin:0 -35px 0 35px;
    }
}@keyframes slide{
    100%{
        top:-300px;
    }
}
.para {
    margin-top: 0; 
    width: 700px;
    word-wrap: normal;
    font-size: 1.5rem;
    color: #323232;
}
.main{
    margin-top: 15vh;
    margin-left:13vh;
}
.learn{
    padding: 10px;
    margin:10px;
    border-radius: 75px;
    background-color: var(--starbucks-clr);
    width: fit-content;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color,color 0.3s ease-in;
    
}
.learn:hover{
    background-color: white;
    color: var(--starbucks-clr);
    box-shadow: 0px 0px 0px;
}